  <div class="isLoggedDiv">
    <mat-toolbar *ngIf="globals.isLogged" color="primary" class="fixed-header">
      <mat-toolbar-row>
        <div class="titleHeader">
          <a routerLink="app" routerLinkActive="active" (click)="changeToolbarCurrentColor('app')">
            <span class="titleSpan">AR o'Notes</span>
          </a>
        </div>
        <nav>
          <a routerLink="/etablissement" routerLinkActive="active" (click)="changeToolbarCurrentColor('etablissement')"><button [ngClass]="{btToolbar: globals.CurrentScreen != 'etablissement', btToolbarCurrent: globals.CurrentScreen == 'etablissement'}" mat-raised-button>Mon etablissement</button></a>
          <a routerLink="/balises" routerLinkActive="active" (click)="changeToolbarCurrentColor('balises')"><button [ngClass]="{btToolbar: globals.CurrentScreen != 'balises', btToolbarCurrent: globals.CurrentScreen == 'balises'}" mat-raised-button>Mes balises</button></a>
          <a routerLink="/groupes" routerLinkActive="active" (click)="changeToolbarCurrentColor('groupes')"><button [ngClass]="{btToolbar: globals.CurrentScreen != 'groupes', btToolbarCurrent: globals.CurrentScreen == 'groupes'}" mat-raised-button>Mes groupes</button></a>
          <a routerLink="app" routerLinkActive="active" (click)="globals.isLogged = false; changeToolbarCurrentColor('app')"><button class="btToolbar" mat-raised-button >Déconnection</button></a>
        </nav>
        <img class="logoAras" src="../../../assets/logoArasNoir.png" alt="">
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="container" [ngClass]="{containerLogged: globals.isLogged, containerNoLogged: !globals.isLogged}">
      <router-outlet></router-outlet>
      <div *ngIf="!globals.isLogged" class="isNotLoggedDiv">
        <login-component *ngIf="!globals.isLogged" (isLogged)="connect($event)"></login-component>
      </div>
    </div>
  </div>
