<nav *ngIf="globals.isLogged" class="navbar navbar-expand-xl navbar-dark fixed-top Bg-blue">
  <a class="navbar-brand" routerLink="app" routerLinkActive="active" (click)="changeToolbarCurrentColor('app')">
    <span class="titleSpan">AR o'Notes</span>
  </a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarCollapse" style="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="/etablissement" routerLinkActive="active" (click)="changeToolbarCurrentColor('etablissement')" class="btn btn-primary bg-button-blue" href="#">Mon établissement <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a routerLink="/balises" routerLinkActive="active" (click)="changeToolbarCurrentColor('balises')" class="btn btn-primary bg-button-blue" href="#">Mes balises</a>
      </li>
      <li class="nav-item">
        <a routerLink="/groupes" routerLinkActive="active" (click)="changeToolbarCurrentColor('groupes')" class="btn btn-primary bg-button-blue" href="#">Mes groupes</a>
      </li>
      <li class="nav-item">
        <a routerLink="/questionnaires" routerLinkActive="active" (click)="changeToolbarCurrentColor('groupes')" class="btn btn-primary bg-button-blue" href="#">Mes questionnaires</a>
      </li>
    </ul>
    <div class="btnDeconection">
      <a routerLink="app" routerLinkActive="active" (click)="globals.isLogged = false; changeToolbarCurrentColor('app')" class="btn btn-primary bg-button-blue" href="#">Déconnexion</a>
    </div>
    <img class="logoAras" src="../../../assets/logoArasNoir.png" alt="">
  </div>
</nav>
<login-component *ngIf="!globals.isLogged" (isLogged)="connect($event)"></login-component>
<main *ngIf="globals.isLogged" class="container bg-dark isLoggedDiv">
  <router-outlet></router-outlet>
</main>
