.titleSpan{
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  font-size: 25px;
  margin-right: 35px;
}

.logoAras{
  margin-left: 30px;
}

li{
  text-align: left;
  margin-right: 16px;
}

main{
  overflow: auto;
}
main.container.bg-dark.isNotLoggedDiv{
  position: absolute;
  top: 0;
  width: 100%;
  overflow: auto;
  height: 100%;
}

@media (min-width: 1200px){

  main.container.bg-dark.isNotLoggedDiv {
    max-width: 100%;
  }
  .container {
    max-width: 100%;
}

}
.btnDeconection{
  width: 100%;
  margin-right: auto!important;
  text-align: left;
}

a.bg-button-blue{
  background-color: transparent;
  border: none;
}
