<li *ngIf="groupe" class="list-group-item d-flex justify-content-between align-items-center">
  <label class="liLabel01">{{groupe.Name}}</label>
  <div class="liLabel02">
    <button *ngFor="let balise of groupBalises" type="button" class="btn btn-primary ">
      Balise <span class="badge badge-light">{{balise.Id}}</span>
    </button>
  </div>
  <label class="liLabel03">
    <button type="button" class="btn btn-outline-danger modify mod" (click)="openModifModal()">
      <i class="material-icons">build</i>
    </button>
    <button type="button" class="btn btn-outline-danger modify del" (click)="deleteModal()">
      <i class="material-icons">delete</i>
    </button>
  </label>
</li>
<li *ngIf="!groupe" class="list-group-item d-flex justify-content-between align-items-center">
  <div class="buttonC">
    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Ajouter</button>
  </div>
</li>
