<form class="form-signin">
  <img class="mb-4" src="../../../assets/logoArasBlanc.png" alt="" width="100px">
  <h1 class="h3 mb-3 font-weight-normal">AR O'Notes</h1>
  <label for="userIdInput" class="sr-only">Identifiant</label>
  <input #userIdInput type="text" id="userIdInput" class="form-control" placeholder="Identifiant" required="" autofocus="">
  <label for="password" class="sr-only">Mot de passe</label>
  <input #password type="password" (keyup.enter)="connection(userIdInput.value, password.value)" class="form-control" placeholder="Mot de passe" required="">
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Se souvenir de moi
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="connection(userIdInput.value, password.value)">Se connecter</button>
  <p class="mt-5 mb-3 text-muted">© Aras Tech</p>
</form>

<!-- <div class="loginContent">
  <div class="top">
    <h1>AR o'Notes</h1>
    <img class="logoAras" src="../../../assets/logoArasBlanc.png" alt="">
  </div>
  <div class="space">
    <mat-card class="spaceCard">
      <div class="topText">
        <h2>Accédez à votre espace</h2>
      </div>
      <mat-form-field class="userId">
        <input #userIdInput class="userIdInput" matInput placeholder="Identifiant">
      </mat-form-field>
      <mat-form-field class="password">
        <input #password type="password" (keyup.enter)="connection(userIdInput.value, password.value)" matInput placeholder="Mot de passe">
      </mat-form-field>
      <div class="loginButton">
        <button mat-raised-button (click)="connection(userIdInput.value, password.value)">Se connecter</button>
      </div>
    </mat-card>
  </div>
</div> -->
