<div class="loginContent">
  <div class="top">
    <h1>AR o'Notes</h1>
    <img class="logoAras" src="../../../assets/logoArasBlanc.png" alt="">
  </div>
  <div class="space">
    <mat-card class="spaceCard">
      <div class="topText">
        <h2>Accédez à votre espace</h2>
      </div>
      <mat-form-field class="userId">
        <input #userIdInput class="userIdInput" matInput placeholder="Identifiant">
      </mat-form-field>
      <mat-form-field class="password">
        <input #password type="password" matInput placeholder="Mot de passe">
      </mat-form-field>
      <div class="loginButton">
        <button mat-raised-button (click)="connection(userIdInput.value, password.value)">Se connecter</button>
      </div>
    </mat-card>
  </div>
</div>
