// component css goes here
.labelQ{
      font-weight: 700;
}
.questionForm{
    display: flex;
}
.row{
  justify-content: center;
  align-items: center;
  display: flex;

  .rowSecond{
    display: flex;
    align-items: center;
    justify-content: center;

    .form-check{
      margin: 15px;
    }
  }
}
.response{
  display: flex;
/* justify-content: center; */
align-items: center;
}
.full{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  i{
   font-size: 40px;
  }
}
.modify{
  display: flex;
  justify-content: center;
  align-items: center;

  i{
    font-size: 2vw;
}
}

button{
  width: 50%;


}

.check{
  border-radius: 7px;
display: flex;
background-color: white;
justify-content: center;
align-items: center;
flex-wrap: wrap;
width: 100%;
}
