// component css goes here
.full{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  i{
   font-size: 40px;
  }
}
.modify{
  display: flex;
  justify-content: center;
  align-items: center;

  i{
    font-size: 2vw;
}
}

button{
  width: 50%;


}

.check{
  border-radius: 7px;
display: flex;
background-color: white;
justify-content: center;
align-items: center;
flex-wrap: wrap;
width: 100%;
}
