<form *ngIf="question">
  <div class="form-group questionForm">
    <label for="inputQuestionLabel" class="col-sm-2 col-form-label labelQ">Question :</label>
    <input type="email" class="form-control" id="inputQuestionLabel" placeholder="name@example.com" [value]="question.label">
  </div>
  <fieldset class="form-group">
  <div class="row">
    <div class="col-sm-10 rowSecond">
      <div class="form-check response" *ngFor="let reponse of reponses">
        <input *ngIf="reponse.IsRight" class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
        <input *ngIf="!reponse.IsRight" class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
        <input type="email" class="form-control" for="gridRadios1" [value]="reponse.label">
      </div>
    </div>
  </div>
</fieldset>
</form>
