@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/myStyles.scss";

body{
  /* min-height: 75rem; */
  padding-top: 4.5rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.modalIsDisplay{
  overflow: hidden;
}

/*
body{
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb{
  width: 0px;
} */


.bg-blue{
  background: #3f51b5;
  color: #fff;
}

.bg-button-blue{
  background-color: #007bff;
  color: white;
  font-weight: bold;
}
