// component css goes here
.myBalises {
  display : flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1vw;
  padding-top: 2vw;

  .contentBalises{
    display: flex;
    justify-content: center;
    overflow: auto;
  }
}
