<div class="card mb-4 box-shadow size" *ngIf="balise != null">
  <div class="card-header Bg-blue">
    <h4 class="my-0 font-weight-normal">Balise {{ balise.Id }}</h4>
  </div>
  <div class="card-body">
    <h1 class="card-title pricing-card-title BaliseTitle">{{ balise.Titre }}</h1>
    <ul class="list-unstyled mt-3 mb-4">
      <li class="BaliseGroup">Groupe :<small class="text-muted"> {{ showGroupeName() }}</small></li>
      <li class="BaliseSousTile">{{ balise.SousTitre }}</li>
      <li class="BaliseDesc">{{ balise.Description }}</li>
    </ul>
    <div id="baliseMedia" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li *ngFor="let media of balise.Medias; let i = index" data-target="#baliseMedia"></li>
      </ol>
      <div class="carousel-inner">
        <i *ngIf="balise.Medias.length == 0" class="material-icons" draggable="false">insert_photo</i>
        <div *ngFor="let media of balise.Medias" class="carousel-item" [ngClass]="{'active': currentMedia == media}">
          <img class="carouselImg d-block w-100" [src]="media.Link" alt="First slide">
        </div>
      </div>
      <a *ngIf="balise.Medias.length > 1" class="carousel-control-prev" href="#baliseMedia" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a *ngIf="balise.Medias.length > 1" class="carousel-control-next" href="#baliseMedia" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <button type="button" class="btn btn-lg btn-block btn-outline-primary" (click)="openModifModal()">Modifier</button>
  </div>
</div>
<!-- <div class="card mb-4 box-shadow size Bg-blue add" *ngIf="balise == null">
  <i class="material-icons">add_circle</i>
</div> -->


<!-- <mat-card class="BaliseCard">
  <div class="topBalise">
    <h3>Balise {{ Balise.Id }}</h3>
    <button mat-raised-button class="butBalise">Modifier</button>
  </div>
  <div class="groupeCard">
    <b>Groupe :</b> {{ Balise.Groupe }}
  </div>
  <div class="textCard">
    <div class="textTitle"><b></b></div>
    <p class="textContent">
      <i></i><br/><br/>
      <span></span>
    </p>
  </div>
</mat-card> -->
