// component css goes here
// .BaliseCard {
//   width: 350px;
// }

img.carouselImg{
  height: 300px;
}
.add{
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      i{
        font-size: 100px;
      }
}
.card{
    width: 300px;
    border-radius: 0;
    border: none;
}
.card-header:first-child{
  border-radius: 0;
}
.size{
  // width: 300px;
  max-width: 350px;
  // height: 500px;
}
.BaliseTitle{
  height: 100px;
}
.BaliseSousTile{
  height: 55px;
}
.BaliseDesc{
  overflow: auto;
  height: 150px;
}


.textContent {
  overflow-y: auto;
  background-color: #56CCF2;
  padding: 5px;
  height: 215px;
}

.textTitle {
  text-align: center;
  font-size: 20px;
}

.groupeCard {
  margin-bottom: 10px;
}

.textCard {
}

.topBalise {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  .butBalise{
    background-color: #1F4880;
    height: 40px;
    color: white;
    // margin-left: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
  }
}
