.myGroupes{
  display : flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2vw;
}

.list-group{
  width: 100%;
  height: 100%;
}

.menu{
  color: white;
  font-weight: bold;
}
