<div class="myGroupes">
  <h1>Mes Quizzs</h1>
  <div class="card-deck mb-3 text-center contentBalises" *ngFor="let quizz of globals.Quizzs">
    <div class="quizz" [ngStyle]="{'border-color': quizz.Color}">
      <h2>Quizz {{quizz.title}}</h2>
      <div class="x">
        <p>Nombre de bonne réponses : {{quizz.numberOfRequestedGoodAnswers}}</p>
        <p>Difficulté : {{quizz.Difficulty}}</p>
        <p>Durée : {{quizz.Duration}} minutes</p>
      </div>
      <div class="color" [ngStyle]="{'background-color': quizz.Color}"></div>
      <question-component *ngFor="let question of getQuestionsFor(quizz)" [question]="question"></question-component>
    </div>

  </div>
</div>
